<h1>Shorten your URL</h1>

<%= link_to 'Back to links', links_path %>

<%= form_with model: @link, local: true do |form| %>
  <%= render 'links/shared/error_messages', link: @link %>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_field :original_url %>
  </div>

  <div class="field">
    <%= form.label 'Slug (optional)' %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :expires_at, 'Expiration date (optional)' %>
    <%= form.datetime_select :expires_at %>
  </div>

  <div class="actions">
    <%= form.submit "Shorten!" %>
  </div>
<% end %>
