<%= link_to '<- Back', links_path %>

<%= form_with model: @link, local: true, class: "space-y-4 max-w-md mx-auto" do |form| %>
  <% if @link.errors.any? %>
    <div class="p-3 text-red-700 bg-red-100 rounded">
      <ul>
        <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :original_url, class: "block text-lg font-medium" %>
    <%= form.text_field :original_url, class: "mt-1 p-2 w-full border border-gray-300 rounded" %>
  </div>

  <div class="mb-4">
    <%= form.label 'Slug (optional)', class: "block text-lg font-medium" %>
    <%= form.text_field :slug, class: "mt-1 p-2 w-full border border-gray-300 rounded" %>
  </div>

  <div class="mb-4">
    <%= form.label :expires_at, "Expiration Date (optional)", class: "block text-lg font-medium" %>
    <%= form.datetime_select :expires_at, class: "mt-1 p-2 w-full border border-gray-300 rounded" %>
  </div>

  <div>
    <%= form.submit "Shorten", class: "bg-blue-600 text-white font-semibold p-2 w-full rounded cursor-pointer hover:bg-blue-700" %>
  </div>
<% end %>
