<h1>Shorten your URL</h1>

<%= link_to 'Back to links', links_path %>

<%= form_with model: @link, local: true do |form| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_field :original_url %>
  </div>

  <div class="field">
    <%= form.label 'Slug (optional)' %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :expires_at, 'Expiration date (optional)' %>
    <%= form.datetime_select :expires_at %>
  </div>

  <div class="actions">
    <%= form.submit "Shorten!" %>
  </div>
<% end %>
